numpy
scipy>=1.10.0  # Ensure you have a version with SphericalVoronoi

# Visualization & UI
matplotlib
streamlit
networkx # For visualize_tree.py utility
pydot     # For visualize_tree.py utility (requires Graphviz system install)

#testing

pytest